body, ul {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00462A;
    padding: 8px 78px;
    height: 75px;
    box-sizing: border-box;
}

.navbar__logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    gap: 10px;
}

.navbar__logo a {
    color: white;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar__menu li a {
    color: white;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    text-decoration: none;
    padding: 4px 8px 24px 8px;
}

#user {
    text-decoration: underline;
}

.navbar__menu li a.active {
    background-color: white;
    color: #00462A;
    border-radius: 6px;
}