body, ul {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00462A;
    padding: 8px 78px;
    height: 50px;
    box-sizing: border-box;
}

.navbar__logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    gap: 10px;
}

.navbar__logo img {
  height: 30px;
  width: 30px;
}

.navbar__logo a {
    color: white;
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

#login_user{
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-decoration: none;
}

.navbar__menu li a {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-decoration: none;
    padding: 2px 8px;
}

.navbar__menu li a:hover{
  background:rgba(255,255,255,.15);
}

.navbar__toogleBtn{
  display:none;          /* 데스크탑에선 숨김 */
  font-size:20px;
  padding:6px 10px;
  border-radius:8px;
  color: white;
  background:rgba(255,255,255,.15);
  cursor:pointer;
  user-select:none;
}

#user {
    text-decoration: underline;
}

.navbar__menu li a.active {
    background-color: white;
    color: #00462A;
    border-radius: 6px;
}


/* ====== 반응형 (모바일 메뉴) ====== */
@media (max-width: 768px){
  .navbar__menu{
    position:absolute;
    right:16px;
    top:50px;
    display:none;
    flex-direction:column;
    align-items: center;
    width:min(300px, 90vw);
    gap:8px;
    background: rgba(0, 100, 42, .9);
    border-radius:12px;
    box-shadow:0 8px 10px rgba(0,0,0,.12);
    padding: 12px;
    box-sizing: border-box;
  }
  .navbar__menu li a { display: block; text-align: center;}
  .navbar__menu.active{ display:flex; }
  .navbar__toogleBtn{ display:block; }
}