form {
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    width: 100%;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 16px;
    box-sizing: border-box;
}

#register_review {
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    display: block;
    margin-bottom: 18px;
}

.label_name {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    background: #00462A;
    width: 100px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
}

.text_block {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    background: white;
    border: 2px #00642A solid;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 10px;
    flex: 1;
    min-width: 0;
    

}

.form_line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form_line.align_top {
    align-items: flex-start;
}

textarea {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    background: white;
    border: 2px #00642A solid;
    height: 200px;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

#image_file {
    color: black;
    background-color: #F2F2F2;
    border: 4px solid #00642A;
    width: 250px;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#submit {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    background: #00462A;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    justify-content: center;
}

#cancel {
    color: #00642A;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    background: white;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #00642A;
    justify-content: center;
}

#submit, #cancel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.star_rating {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 6px;
    margin-right: 14px;
    align-items: center;
}

.star_rating input {
    display: none;
}

.star_rating label {
    font-size: 25px;
    color: #C9C9C9;
}

.star_rating input:checked ~ label {
    color: #FFC107;
}

#star_score {
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
}