{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='reg_reviews.css') }}">
{% endblock head %}

{% block section %}
<form method="post" enctype="multipart/form-data">
    <label id="register_review">상품 리뷰 작성</label><br><br>
    <div class="form_line">
        <label for="review_item" class="label_name">상품명</label>
        <input type="text" name="review_item" class="text_block" id="review_item" required>
    </div>
    <div class="form_line">
        <label for="review_title" class="label_name">제목</label>
        <input type="text" name="review_title" class="text_block" id="review_title" required>
    </div>
    <div class="form_line">
        <label for="star" class="label_name">별점</label>
        <div class="star_rating">
            <input type="radio" name="rating" id="star5" value="5">
            <label for="star5">☆</label>
            <input type="radio" name="rating" id="star4" value="4">
            <label for="star4">☆</label>
            <input type="radio" name="rating" id="star3" value="3">
            <label for="star3">☆</label>
            <input type="radio" name="rating" id="star2" value="2">
            <label for="star2">☆</label>
            <input type="radio" name="rating" id="star1" value="1">
            <label for="star1">☆</label>
        </div>
        
        <label id="star_score">0 / 5 점</label>
        
    </div>
    <div class="form_line align_top">
        <label for="review_content" class="label_name">내용</label>
        <textarea name="review_content" id="review_content" required></textarea>
    </div>
    <div class="form_line">
        <label for="image_file" class="label_name">사진</label>
        <input type="file" id="image_file" name="file"><br>
    </div>
    <div class="button">
        <button type="submit"id="submit">등록</button>
        <button id="cancel">취소</button>
    </div>
</form>

{% endblock section %}