<!-- 인덱스 레이아웃 적용 -->
{% extends "index.html" %}

{% block head %}
    <!-- 리뷰 등록 전용 CSS 불러오기 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='reg_reviews.css') }}">
{% endblock head %}

{% block section %}
<!-- 리뷰 등록 form -->
<form method="post" enctype="multipart/form-data" action="{{ url_for('reg_review') }}"> 
    
    <!-- 페이지 제목 -->
    <label id="register_review">상품 리뷰 작성</label><br><br>
    
    <!-- 상품명 입력 -->
    <div class="form_line">
        <label for="review_item" class="label_name">상품명</label>
        <!-- name 값이 존재(상품 상세에서 넘어올 때)하면 자동으로 채움 -->
        <input type="text" name="review_item" class="text_block" id="review_item" value="{{ name or '' }}" 
        required>
    </div> 

    <!-- 리뷰 제목 입력 -->
    <div class="form_line">
        <label for="review_title" class="label_name">제목</label>
        <input type="text" name="review_title" class="text_block" id="review_title" required>
    </div>

    <!-- 별점 입력 -->
    <div class="form_line">
        <label for="star" class="label_name">별점</label>
        
        <!-- 별점 라디오 버튼 -->
        <div class="star_rating">
            <input type="radio" name="rating" id="star5" value="5">
            <label for="star5">★</label>
            <input type="radio" name="rating" id="star4" value="4">
            <label for="star4">★</label>
            <input type="radio" name="rating" id="star3" value="3">
            <label for="star3">★</label>
            <input type="radio" name="rating" id="star2" value="2">
            <label for="star2">★</label>
            <input type="radio" name="rating" id="star1" value="1">
            <label for="star1">★</label>
        </div>
        
        <!-- 선택된 별점 점수 표시 텍스트 -->
        <label id="star_score">0 / 5 점</label>
        
    </div>

    <!-- 별점 선택 시 별점 점수 표시 업데이트 -->
    <script>
        const ratingInputs = document.querySelectorAll('input[name="rating"]');
        const scoreLabel = document.getElementById('star_score');

        // 선택된 라디오 버튼 값으로 별점 점수 표시 갱신
        ratingInputs.forEach(input => {
            input.addEventListener('change', function () {
                scoreLabel.textContent = `${this.value} / 5 점`;
            });
        });
    </script>

    <!-- 리뷰 내용 입력 -->
    <div class="form_line align_top">
        <label for="review_content" class="label_name">내용</label>
        <textarea name="review_content" id="review_content" required></textarea>
    </div>

    <!-- 리뷰 이미지 업로드 -->
    <div class="form_line">
        <label for="image_file" class="label_name">사진</label>
        <input type="file" id="image_file" name="file"><br>
    </div>

    <!-- 버튼 -->
    <div class="button">
        <!-- 리뷰 등록 버튼 -->
        <button type="submit"id="submit">등록</button>
        <!-- 리뷰 등록 취소 버튼 => 리뷰 전체 조회 화면으로 돌아감 -->
        <button type="button" id="cancel">취소</button>
    </div>
</form>

<!-- 리뷰 등록 취소 버튼 클릭시 이동 로직 구현 -->
<script>
    document.getElementById("cancel").addEventListener("click", function () {
        window.location.href = "{{ url_for('view_review') }}";
    });
</script>
{% endblock section %}