{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='review_detail.css') }}">
{% endblock head %}

{% block section %}
<div class="review_container">
    <label id="page_title">상품 리뷰 상세</label>

    <div class="review_top">
        <div class="review_img">
            {% if review.img_path %}
                <img src="{{ url_for('static', filename='images/' ~ review.img_path) }}">
            {% else %}
                <img src="{{ url_for('static', filename='images/공기청정기.png') }}">
            {% endif %}
        </div>
        <div class="review_info">
            <div class="form_line">
                <div class="label_name">상품명</div>
                <div class="text_block">{{ review.item }}</div>
            </div>
            <div class="form_line">
                <div class="label_name">제목</div>
                <div class="text_block">{{ review.title }}</div>
            </div>
            <div class="form_line">
                <div class="label_name">작성자</div>
                <div class="text_block">
                    {{ review.writer or '익명' }}
                </div>
            </div>
            <div class="form_line">
                <div class="label_name">별점</div>
                {% set rating = review.rate|default(0)|int %}
                <div class="star_rating">
                    {% for i in range(rating) %}
                        <span class="star filled">★</span>
                    {% endfor %}
                    {% for i in range(5 - rating) %}
                        <span class="star empty">☆</span>
                    {% endfor %}
                </div>
                <div id="star_score">{{ rating }} / 5 점</div>
            </div>  
        </div>
    </div>

    <div class="form_line align_top">
        <div class="label_name">내용</div>
        <div id="review_content">{{ review.review }}</div>
    </div>

    <div class="btn_box">
        <div id="back"><a href="{{ url_for('view_review') }}">목록으로 돌아가기</a></div>
    </div>
</div>

{% endblock section %}
