{% extends "index.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='review_detail.css') }}">
{% endblock head %}

{% block section %}
<div class="review_container">
    <label id="page_title">상품 리뷰 상세</label>

    <div class="review_top">
        <div class="review_img">
            <img src="{{ url_for('static', filename='images/공기청정기.png') }}">
        </div>
        <div class="review_info">
            <div class="form_line">
                <a class="label_name">상품명</a>
                <a class="text_block">공기청정기</a>
            </div>
            <div class="form_line">
                <a class="label_name">제목</a>
                <a class="text_block">공기청정기 그냥 그렇네요</a>
            </div>
            <div class="form_line">
                <a class="label_name">작성자</a>
                <a class="text_block">소플맘</a>
            </div>
            <div class="form_line">
                <a class="label_name">별점</a>
                <div class="star_rating">
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star filled">★</span>
                    <span class="star empty">☆</span>
                    <span class="star empty">☆</span>
                </div>
                <a id="star_score">3 / 5 점</a>
            </div>
        </div>
    </div>

    <div class="form_line align_top">
        <a class="label_name">내용</a>
        <a id="review_content">저는 오늘 이 상품을 구매했습니다. 공기청정기는 처음 사보네요. 크기도 적당하고 배송도 빨리 왔어요. 근데 집 공기가 달라졌는지는 잘 모르겠어요. 가격도 조금 비싼 것 같습니다. </a>
    </div>

    <div class="btn_box">
        <button id="back">목록으로 돌아가기</button>
    </div>
</div>

{% endblock section %}